%fieldset#signin_menu.header_menu
  .arrow
  - @user_session = UserSession.new
  = form_for(@user_session) do |f|
    = f.error_messages
    %p
      = f.label :email, t("user.email")
      %br
      = f.text_field :email, class: 'string'
    %p
      = f.label :password, t("user.password")
      %br
      = f.password_field :password, class: 'password'
    %p
      = f.check_box :remember_me, :checked => "checked"
      = f.label :remember_me, t("user.remember")
    = f.submit 'Login', class: 'button'
  %a{:href => new_user_path}= "#{t("or")} #{t("header.create_account")}"

